@model MusicZone.Models.Banda

<body>
    <form asp-controller="Banda" asp-action="NovaBanda" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NumeroElementos">Numero de Elementos</label>
            <input asp-for="NumeroElementos" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Genero">Genero</label>
            <select asp-for="Genero" class="form-control">
                <option>Pop</option>
                <option>Alternativa</option>
                <option>Rock</option>
                <option>Metal</option>
                <option>Hip-Hop</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Top">Banda Top</label>
            <input asp-for="Top" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="NovaBanda" />
        </div>
    </form>
    

</body>

