




<body class="container">
    <div class="row">
        <div class="col-md-6">
           <h2>O Conceito</h2>
            <p>pois pois</p>
            <p>enfim</p>
        </div>
        <div class="col-md-6">
           <img src="~/images/banner4.svg"/>
        </div>
       </div>
</body>
