@{ViewData["Title"] = "Home Page";
}
<body>
    <div class="container-fluid jumbotron golden">
        <h1>Muzic Zone</h1>
        <p>Bandas a não perder</p>
    </div>
    <div class="container-fluid goldenfooter">
        <p> Atualizado diariamente com <span class="glyphicon glyphicon-music"></span> </p>

    </div>
</body>